<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<h2>Comments</h2>

<div id ="comments">
  <%= render partial: "comment", collection: @top_level_comments %>

</div>


<h3>Subs posted on</h3>

<% @post.subs.each do |sub| %>
  <ul>
    <li><%= link_to sub.title, sub_url(sub) %>
  </ul>
<% end %>

<%= link_to "Edit Post", edit_post_url(@post) %>
<br>
<%= link_to "Comment", new_post_comment_url(@post) %>
